background-clip()
  -webkit-background-clip arguments
  -moz-background-clip arguments
  background-clip arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

opacity()
  //filter: alpha(opacity=100);
  -webkit-opacity arguments
  -moz-opacity arguments
  opacity arguments

text-shadow()
  -webkit-text-shadow arguments
  text-shadow arguments

transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -o-transition: arguments
  transition: arguments

word-wrap()
  -ms-word-wrap: arguments;
  word-wrap: arguments;