
<div class="container">
    <div class="block-header">
        <h2>Pure CSS3 Animations</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="md md-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="md md-done-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Attention Seekers <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/1.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounce</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>flash</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>pulse</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rubberBand</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>shake</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>swing</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>tada</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>wobble</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Flippers <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/6.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>flip</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>flipInX</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>flipInY</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>flipOutX</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>flipOutY</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Light Speed <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/7.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>lightSpeedIn</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>lightSpeedOut</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Specials <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/1.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>hinge</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rollIn</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rollOut</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Bouncing Entrances <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/2.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceIn</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceInDown</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceInLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceInRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceInUp</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Bouncing Exits <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/3.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceOut</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceOutDown</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceOutLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceOutRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>bounceOutUp</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Rotating Entrances <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/8.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateIn</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateInDownLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateInDownRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateInUpLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateInUpRight</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Rotating Exits <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/9.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateOut</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateOutDownLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateOutDownRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateOutUpLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>rotateOutUpRight</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-sm-6">
            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Fadeing Entrances <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/4.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeIn</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInDown</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInDownBig</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInLeftBig</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInRightBig</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInUp</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeInUpBig</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Fadeing Exits <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/5.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOut</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutDown</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutDownBig</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutLeftBig</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutRightBig</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutUp</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>fadeOutUpBig</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Zoom Entrances <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/4.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomIn</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomInDown</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomInLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomInRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomInUp</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animation-demo">
                <div class="card-header">
                    <h2>Zoom Exits <small>Click on the buttons below to start the animation</small></h2>
                </div>

                <div class="card-body card-padding">
                    <img src="img/headers/sm/3.png" alt="">

                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomOut</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomOutDown</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomOutLeft</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomOutRight</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn bgm-cyan" data-anim-demo>zoomOutUp</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
               
</div>