<header id="header" ng-controller="HeaderController as hctrl">
  <ul class="header-inner">
      <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
          <a class="header-link" href="#">
            <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
          </a>
      </li>

      <li class="logo hidden-xs">
          <a class="header-link" href="/">Project Manager</a>
      </li>

      <li class="pull-right">
          <ul class="top-menu">

              <li id="toggle-width">
                  <div class="toggle-switch">
                      <input id="tw-switch" type="checkbox" hidden="hidden" data-change-layout="mactrl.layoutType">
                      <label for="tw-switch" class="ts-helper"></label>
                  </div>
              </li>

              <li id="top-search">
                  <a class="header-link" href="" ng-click="hctrl.openSearch()">
                    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                  </a>
              </li>

              <li class="dropdown">
                  <a class="header-link" data-toggle="dropdown" href="">
                    <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu dm-icon pull-right">
                      <li>
                          <a ng-click="hctrl.fullScreen()" href="">
                            <i class="zmdi zmdi-fullscreen" aria-hidden="true"></i>
                            Toggle Fullscreen
                          </a>
                      </li>

                      <li>
                          <a href="">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sign out
                          </a>
                      </li>
                  </ul>
              </li>

          </ul>
      </li>
  </ul>

  <!-- Top Search Content -->
  <div id="top-search-wrap">
      <input type="text">
      <i id="top-search-close" data-ng-click="hctrl.closeSearch()">&times;</i>
  </div>

</header>
