
    <!-- Page Sidebar Header
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
</div>
/Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="admin.dashboard">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>

    <!--Databoxes-->
    <li ui-sref-active="active">
        <a ui-sref="admin.project-list">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> Projects </span>
        </a>
    </li>
</ul>
<!-- /Sidebar Menu -->
