pre
  display: block
  border: 1px solid $colors.seashell.border
  border-radius: 5px
  background: $colors.seashell.background
  margin-top: 0
  margin-bottom: 1rem
  padding: 5px
  overflow: auto
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  font-size: 90%
  color: #292b2c
  white-space: pre-wrap
  page-break-inside: avoid
  
  code 
    border-radius: 0
    padding: 0
    font-size: inherit
    color: inherit
    background-color: transparent

.pre-scrollable 
  max-height: 340px
  overflow-y: scroll
