<div ng-controller="DocumentCreateController as doccreateCtrl">
  <section class="story">
    <header>
      <h2>
        <input type="text" class="story-code" name="documentCode" ng-model="doccreateCtrl.document.code" />
        -
        <input type="text" class="story-title" name="documentName" ng-model="doccreateCtrl.document.name" />
      </h2>

      <div class="story-description">
        <summernote config="doccreateCtrl.editors.description.options" ng-model="doccreateCtrl.document.description"></summernote>
      </div>

      <div class="story-information">
        <div class="row">
          <div class="col-md-2 story-type">
            Type:
            <ui-select ng-model="doccreateCtrl.document.type" theme="bootstrap">
              <ui-select-match placeholder="Select type">
                <i class="{{$select.selected.icon}}" aria-hidden="true"></i>
                <span ng-bind-html="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in doccreateCtrl.types | filter: $select.search">
                <i class="{{item.icon}}" aria-hidden="true"></i>
                <span ng-bind-html="item.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="col-md-2 story-points">
            Points: <span class="badge">{{doccreateCtrl.document.points}}</span>
          </div>

          <div class="col-md-2 story-status">
            Status:
            <ui-select ng-model="doccreateCtrl.document.status" theme="bootstrap">
              <ui-select-match placeholder="Select type">
                <div style="background-color: {{$select.selected.color}}">
                  <i class="{{$select.selected.icon}}" aria-hidden="true"></i>
                  <span ng-bind-html="$select.selected.name"></span>
                </div>
              </ui-select-match>
              <ui-select-choices repeat="item in doccreateCtrl.status | filter: $select.search">
                <div style="background-color: {{item.color}}">
                  <i class="{{item.icon}}" aria-hidden="true"></i>
                  <span ng-bind-html="item.name | highlight: $select.search"></span>
                </div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="col-md-2 story-publish" title="Publicado na versão">
            <span class="badge"> <i class="fa fa-code-fork"></i> 0.0.0</span>
          </div>
        </div>
      </div>
    </header>

    <summernote config="doccreateCtrl.editors.content.options" ng-model="doccreateCtrl.document.content"></summernote>

    <div role="toolbar" class="buttonAcao">

        <button type="button" role="button" class="btn btn-default pull-right" title="Voltar"
          ng-click="doccreateCtrl.comeBack()" ng-keypress="doccreateCtrl.comeBack()">
          <i class="fa fa-arrow-circle-left"></i>
          Return
        </button>

        <button type="submit" class="btn btn-primary icon-margin pull-right" title="Salvar nova situação"
          ng-disabled="formSituacaoCriar.$invalid"
          ng-click="doccreateCtrl.create(doccreateCtrl.document)" ng-keypress="doccreateCtrl.create(doccreateCtrl.document)">
          <i class="fa fa-save"></i>
          Save
      </button>
    </div>


</section>

</div>
