<div ng-controller="DocumentUpdateController as docupCtrl">
  <section class="story">
    <header>
      <h2>
        <input type="text" class="story-code" name="documentCode" ng-model="docupCtrl.document.code" />
        -
        <input type="text" class="story-title" name="documentName" ng-model="docupCtrl.document.name" />
      </h2>

      <div class="story-description">
        <summernote config="docupCtrl.editors.description.options" ng-model="docupCtrl.document.description"></summernote>
      </div>

      <div class="story-information">
        <div class="row">
          <div class="col-md-2 story-type">
            Type: <document-type-select name="selType" ng-model="docupCtrl.document.type"></document-type-select>
          </div>

          <div class="col-md-2 story-points">
            Points: <span class="badge">{{docupCtrl.document.points}}</span>
          </div>

          <div class="col-md-2 story-status">
            Status: <document-state-select name="selState" ng-model="docupCtrl.document.state"></document-state-select>
          </div>

          <div class="col-md-2 story-publish" title="Publicado na versão">
            <span class="badge"> <i class="fa fa-code-fork"></i> 0.0.0</span>
          </div>
        </div>
      </div>
    </header>

    <pre>{{ docupCtrl.document| json}}    </pre>

    <summernote config="docupCtrl.editors.content.options" ng-model="docupCtrl.document.content"></summernote>

    <div role="toolbar" class="buttonAcao">

        <button type="button" role="button" class="btn btn-default pull-right" title="Voltar"
          ng-click="docupCtrl.comeBack()" ng-keypress="docupCtrl.comeBack()">
          <i class="fa fa-arrow-circle-left"></i>
          Return
        </button>

        <button type="submit" class="btn btn-primary icon-margin pull-right" title="Salvar nova situação"
          ng-disabled="formSituacaoCriar.$invalid"
          ng-click="docupCtrl.save(docupCtrl.document)" ng-keypress="docupCtrl.save(docupCtrl.document)">
          <i class="fa fa-save"></i>
          Save
      </button>
    </div>

  </section>

</div>
