<div ng-controller="DocumentListController as doclistCtrl">
  <div class="form-actionTop form-inline pull-right">
    <a href="#/document/create" class="btn btn-xs" title="create a new document">
            <i class="fa fa-plus fa-lg"></i>
            New document
        </a>
  </div>

<div class="">
  <ul>
    <li ng-repeat="document in doclistCtrl.documents">
      <a ui-sref="admin.document-update({id: document.id})" title="{{document.description}}">
        <span>{{document.code}}</span>-<span>{{document.name}}</span>
      </a>
    </li>
  </ul>
</div>
</div>
