border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

background-clip()
  -webkit-background-clip arguments
  -moz-background-clip arguments
  background-clip arguments