<div class="row" ng-controller="ProjectListController as plctrl">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <ui-panel class="radius-bordered">
      <ui-panel-header class="bordered-bottom bordered-themeprimary">
        <ui-panel-header-caption class="widget-caption">Projects</ui-panel-header-caption>
      </ui-panel-header>
      <ui-panel-body class="no-padding">
        <table class="table table-striped table-vmiddle">
          <thead>
            <tr>
              <th >Code</th>
              <th >Name</th>
              <th >Commands</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in plctrl.projects" number="{{project.id}}">
              <td>{{project.code}}</td>
              <td>{{project.name}}</td>
              <td class="text-right">
                <a ui-sref="admin.project.dashboard({code: project.code})" class="btn btn-xs">
                  <i class="fa fa-file-text-o fa-lg"></i>
                </a>

              </td>
            </tr>
          </tbody>
        </table>
      </ui-panel-body>
    </ui-panel>
  </div>
</div>
