<section ng-controller="DashboardController as dashboardCtrl">
  <button type="button" ng-click="dashboardCtrl.showNotification()">show Notification</button> {{dashboardCtrl}}

  <form name="frmDashboard">

    <div class="row">
      <div class="col-md-4">
        <div class="form-group" has-error>
          <label for="inCodigo" class="control-label strong">Código</label>
          <input id="inCodigo" type="text" class="form-control" name="codigo" placeholder="Código" ng-model="dashboardCtrl.model.codigo" required maxlength="5" />
          <ng-messages for="frmDashboard.codigo.$error" help-block>
            <ng-message when="required">Código é obrigatório</ng-message>
          </ng-messages>
        </div>
      </div>
    </div>
  </form>

</section>