<div class="document-state-select">

  <ui-select ng-model="itemSelected" theme="bootstrap">
    <ui-select-match placeholder="Select state">
      <document-state value="$select.selected" />
    </ui-select-match>
    <ui-select-choices repeat="item in (itens | filter: $select.search) track by item.id">
      <document-state value="item" />
    </ui-select-choices>
  </ui-select>

  <pre>{{ itemSelected | json}}    </pre>

  <span class="clearfix left feedback">
    <span class="text-warning feedback-mensagem animated" ng-show="noResults"
      ng-class="{'fadeIn' : noResults, 'fadeOut' : !noResults}">
      <i class="fa fa-exclamation-triangle"></i>
      No itens found
    </span>

    <span class="feedback feedback-icon" aria-hidden="true" ng-show="loading">
      <i class="fa fa-refresh animated rotateIn fa-spin"></i>
    </span>
  </span>
</div>
