.navbar
  border: 0;
  .navbar-inner
    border: 0;
    border-radius: 0;
    background-clip: padding-box;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    min-height: 40px;
    position: relative;
    background: $theme-primary;

  .ui-avatar 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  