<header>
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
      <div class="btn-group pull-right">
        
        <a class="ui-avatar" data-toggle="dropdown" title="Perfil do usuário" aria-expanded="false" href="">
          <i class="fa fa-user fa-2x"></i>
        </a>
        <div class="dropdown-menu" aria-label="Informações sobre o perfil" aria-hidden="true" tabindex="0">
            sdf
        </div>
      </div>

    </div>
    </div>
  </nav>
</header>