/* http://byrushan.com/projects/ma/1-5-2/angular/less/app.less*/

@import "inc/variables.styl"

/*
  ------------------------------------------------------------------------------
    Header Session
  ------------------------------------------------------------------------------
*/
.header-link
  .fa, .typcn, .wi, .ws, .zmdi
    color: colors("theme-third")
