body {

}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol > li {
    display: table;
    counter-increment: item;
}

ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

li ol > li {
    margin: 0;
}

li ol > li:before {
    content: counters(item, ".") " ";
}

/* ==========================================================================
   Fieldset
   ========================================================================== */
fieldset {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-top-width: 5px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 01px 0 0 #E5E5E5;
    -moz-box-shadow: 0 01px 0 0 #E5E5E5;
    -khtml-box-shadow: 0 01px 0 0 #E5E5E5;
    box-shadow: 0 01px 0 0 #E5E5E5;
}

fieldset legend {
    font-weight: bold;
    font-size: 120%;
    cursor: default;
    width: auto;
    padding: 2px 15px;

    border-color: #E5E5E5;
    border-style: solid solid none;
    border-width: 4px 3px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

fieldset fieldset {
    border-top: 1px solid #555;
}

fieldset fieldset legend {
    font-size: 80%;
    text-transform: none;
}

.story-header {

}
.story-code{

}

.story-title{

}

.story-description {

}

.story-information {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-left-width: 5px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fafafa;
}

.story-case {
    word-break: break-all;
    word-wrap: break-word;
    color: #444;
}

.story-case legend .fa {
    margin-right: 5px;
    font-size: 70%;
}

.story-case .table thead{
    background-color: #fafafa;
}

.story-case-view fieldset,
.story-case-view fieldset legend {
    background-color: #fafafa;
    border-color: #eeeeee;
}

.story-case-view fieldset legend {
    color: #666;
}

.story-case-info fieldset,
.story-case-info fieldset legend {

    background-color: #d9edf7;
    border-color: #bce8f1;

}

.story-case-info fieldset legend {
    color: #31708f;
}

.story-case-success fieldset,
.story-case-success fieldset legend {
    background-color: #dff0d8;
    border-color: #d6e9c6;

}

.story-case-success fieldset legend {
    color: #3c763d;
}

.story-case-warning fieldset,
.story-case-warning fieldset legend {

    background-color: #fcf8e3;
    border-color: #faebcc;

}

.story-case-warning fieldset legend {
    color: #8a6d3b;
}

.story-case-danger fieldset,
.story-case-danger fieldset legend {

    background-color: #f2dede;
    border-color: #ebccd1;

}

.story-case-danger fieldset legend {
    color: #a94442;;
}




/* ==========================================================================
   Cabeçalho da página
   ========================================================================== */


.cabecalho {
    position: relative;
    z-index: 1100 ;
    display: block;
    width: auto;
    height: 50px;
    background: #22394d;
    border-bottom: 1px #fff solid;
}
.cabecalho h1 {
    width: auto ! important;
    margin-top: 0 ! important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7em ! important;
    font-weight: normal;
    line-height: 43px;
    color: #fff;
    text-align: center;
}
.cabecalho .sigla {
    display: none;
}
.logo img {
    float: left;
    width: auto ! important;
    padding: 6px 0 6px 0;
    margin-left: 5px;
}
.cabecalho .container-fluid {
    position: relative;
    z-index: 2;
}
.cabecalho:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    opacity: .4;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1) {
    .cabecalho:after {
        -webkit-background-size: 5px 5px;
        background-size: 5px 5px;
    }
}
header[role="banner"] {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
    header[role="banner"] {
        border-radius: 4px;
    }
}
header[role="banner"] .navbar-collapse {
    max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
    header[role="banner"] .navbar-collapse {
        max-height: 200px;
    }
}
@media (min-width: 768px) {
    header[role="banner"] {
        border-radius: 0;
    }
}

h2 {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 23.4px;
    font-weight: bold;
    margin: 15px 0 15px;
    line-height: 18px;
    color: #045e87;
}
h2 a {
    color: #045e87 ;
}
h2:before {
    display: inline-block ;
    float: left ;
    width: 6px ;
    height: 18px ;
    margin: 0 ;
    margin-right: 10px ;
    content: "";
    background: #045e87 ;
}
