<div class="document-type-select">

  <select ng-options="item as item.name for item in items track by item.id" ng-model="itemSelected"></select>

  <span class="clearfix left feedback">
    <span class="text-warning feedback-mensagem animated" ng-show="noResults"
      ng-class="{'fadeIn' : noResults, 'fadeOut' : !noResults}">
      <i class="fa fa-exclamation-triangle"></i>
      No itens found
    </span>

    <span class="feedback feedback-icon" aria-hidden="true" ng-show="loading">
      <i class="fa fa-refresh animated rotateIn fa-spin"></i>
    </span>
  </span>
</div>
