*
  box-sizing: border-box
html 
  display: block
  position: relative
  min-height: 100%
  overflow-x: hidden
body
  padding-bottom: 0
  min-height: 100%
  background-color: #fff
  font-family: $font-family-main
  font-size: 14px
  line-height: 1.5

a 
  color: #0366d6
  text-decoration: none
  &:hover
    text-decoration: underline
