.menu
  margin-bottom: 15px
  list-style: none
  background-color: #fff
  border: 1px solid #d1d5da
  border-radius: 3px

  .menu-heading 
    display: block
    padding: 8px 10px
    margin-top: 0
    margin-bottom: 0
    font-size: 13px
    font-weight: 600
    line-height: 20px
    color: #586069
    background-color: #f3f5f8
    border-bottom: 1px solid #e1e4e8
    &:hover 
      text-decoration: none
    &:first-child 
      border-top-left-radius: 2px
      border-top-right-radius: 2px
    &:last-child 
      border-bottom: 0
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 2px


  .menu-item 
    position: relative
    display: block
    padding: 8px 10px
    border-bottom: 1px solid #e1e4e8
    &:first-child 
      border-top: 0
      border-top-left-radius: 2px
      border-top-right-radius: 2px
      &:before
        border-top-left-radius: 2px  
    &:last-child
      border-bottom: 0
      border-bottom-right-radius: 2px
      border-bottom-left-radius: 2px
      &:before
        border-bottom-left-radius: 2px
    &:hover
      text-decoration: none
      background-color: #f6f8fa
    &.selected
      font-weight: 600
      color: #24292e
      cursor: default
      background-color: #fff     
      &:before
        position: absolute
        top: 0
        bottom: 0
        left: 0
        width: 2px
        content: ""
        background-color: $theme.secondary.color