$colors = {
  white: {
    background: #fff
    border: #ccc
    color: #444
    value: #fff
  }
  snow: {
    background: #fbfbfb
    border: #fbfbfb
    color: #262626
    value: #fbfbfb
  }
  whitesmoke: {
    background: #f5f5f5
    border: #f5f5f5
    color: #262626
    value: #f5f5f5
  }
  seashell: {
    background: #f3f3f3
    border: #f3f3f3
    color: #262626
    value: #f3f3f3
  }
  ivory: {
    background: #eee
    border: #eee
    color: #262626
    value: #eee
  }
  platinum: {
    background: #e5e5e5
    border: #e5e5e5
    color: #262626
    value: #e5e5e5
  }
  lightgray: {
    background: #d0d0d0
    border: #d0d0d0
    color: #262626
    value: #d0d0d0
  }
  gray: {
    background: #ccc
    border: #ccc
    color: #262626
    value: #ccc
  }
  darkgray: {
    background: #999
    border: #999
    color: #262626
    value: #999
  }
  silver: {
    background: #777
    border: #777
    color: #fff
    value: #777
  }
  sonic-silver: {
    background: #737373
    border: #737373
    color: #fff
    value: #737373
  }
  storm-cloud: {
    background: #666
    border: #666
    color: #fff
    value: #666
  }
  lightcarbon: {
    background: #555
    border: #555
    color: #fff
    value: #555
  }
  carbon: {
    background: #444
    border: #444
    color: #fff
    value: #444
  }
  slate-gray: {
    background: #333
    border: #333
    color: #fff
    value: #333
  }
  darkcarbon: {
    background: #262626
    border: #262626
    color: #fff
    value: #262626
  }
  black3: {
    background: rgba(0, 0, 0, 0.3)
    border: rgba(0, 0, 0, 0.3)
    color: #fff
    value: rgba(0, 0, 0, 0.3)
  }
  black2: {
    background: rgba(0,0,0,0.2)
    border: rgba(0,0,0,0.2)
    color: #fff
    value: rgba(0,0,0,0.2)
  }
  black: {
    background: #000
    border: #000
    color: #fff
    value: #000
  }
  blue: {
    background: #5DB2FF
    border: #5DB2FF
    color: #fff
    value: #5DB2FF
  }
  info: {
    background: #d9edf7
    border: #bce8f1
    color: #31708f
    value: #d9edf7
  }
  sky: {
    background: #11a9cc
    border: #11a9cc
    color: #fff
    value: #11a9cc
  }
  primary: {
    background: #427fed
    border: #427fed
    color: #fff
    value: #427fed
  }
  azure: {
    background: #2dc3e8
    border: #2dc3e8
    color: #fff
    value: #2dc3e8
  }
  blueberry: {
    background: #6f85bf
    border: #6f85bf
    color: #fff
    value: #6f85bf
  }
  palegreen: {
    background: #a0d468
    border: #a0d468
    color: #fff
    value: #a0d468
  }
  success: {
    background: #dff0d8
    border: #d6e9c6
    color: #3c763d
    value: #dff0d8
  }
  green: {
    background: #8cc474
    border: #8cc474
    color: #fff
    value: #8cc474
  }
  lightyellow: {
    background: #f6d52e
    border: #f6d52e
    color: #fff
    value: #f6d52e
  }
  yellow: {
    background: #ffce55
    border: #ffce55
    color: #fff
    value: #ffce55
  }
  warning: {
    background: #fcf8e3
    border: #faebcc
    color: #f4b400
    value: #fcf8e3
  }
  gold: {
    background: #f9b256
    border: #f9b256
    color: #fff
    value: #f9b256
  }
  orange: {
    background: #fb6e52
    border: #fb6e52
    color: #fff
    value: #fb6e52
  }
  darkorange: {
    background: #ed4e2a
    border: #ed4e2a
    color: #fff
    value: #ed4e2a
  }
  lightred: {
    background: #e46f61
    border: #e46f61
    color: #fff
    value: #e46f61
  }
  red: {
    background: #df5138
    border: #df5138
    color: #fff
    value: #df5138
  }
  danger: {
    background: #f2dede
    border: #ebccd1
    color: #a94442
    value: #f2dede
  }
  pink: {
    background: #e75b8d
    border: #e75b8d
    color: #fff
    value: #e75b8d
  }
  darkpink: {
    background: #cc324b
    border: #cc324b
    color: #fff
    value: #cc324b
  }
  magenta: {
    background: #bc5679
    border: #bc5679
    color: #fff
    value: #bc5679
  }
  purple: {
    background: #7e3794
    border: #7e3794
    color: #fff
    value: #7e3794
  }
  maroon: {
    background: #981b48
    border: #981b48
    color: #fff
    value: #981b48
  }
}