$icons = {
  font: FontAwesome
  
  angle-down: "\f107"
  angle-double-left: "\f100"
  angle-double-right: "\f101"
  angle-left: "\f104"
  angle-right: "\f105"
  check: "\f00c"
  circle: "\f111"
  close: "\f00d"  
  sort: "\f0dc"
  sort-asc: "\f0de"
  sort-desc: "\f0dd"

  ICON_UNDEF: "\a0"
}