.accordion 
  &.spaced 
    &.panel-group 
      .panel 
        + .panel 
          margin-top 3px

  &.panel-group
    border 1px solid #d8d8d8
    border-top-width 0

    .panel
      border-radius 0
      border 0
      background-color: $colors.white.value
      box-shadow none

      &:last-child 
        border-bottom-width 1px

      .collapse 
        background-color: $colors.white.value

      + .panel 
        margin-top 0

    .panel-heading 
      padding 0

      + .panel-collapse 
        .panel-body 
          border-top-color #d5d5d5 !important

      .accordion-toggle 
        color: $colors.lightcarbon.value
        background-color: $colors.white.value
        position relative
        font-weight bold
        font-size 13px
        line-height 1
        padding 10px
        display block

        &:after 
          transition all .218s
          position absolute
          right 20px
          top 8px
          font-family: $icons.font
          font-size 17px
          font-weight bold
          color #bebebe
          content: $icons.angle-down

        &.collapsed:after
          content: $icons.angle-right

        &.collapsed
          color: $colors.sonic-silver.value
          font-weight normal
          background-color: $colors.white.value
          transition border .218s
          border-bottom: 1px solid $colors.whitesmoke.value

        &:hover
          color: $colors.darkcarbon.value
          text-decoration none

          > [class*="icon-"]:first-child 
            text-decoration none

          &:after
            color: $colors.darkcarbon.value

        &:focus, &:active 
          outline 0
          text-decoration none

        > [class*="fa-"]:first-child 
            width 16px

      .panel-body
        background-color: $colors.ivory.value
        border-left: 2px solid $colors.ivory.value
        color: $colors.darkcarbon.value

      &.no-padding 
        padding 0