$default-color = $colors.white

.btn
  cursor pointer
  vertical-align middle
  margin 0
  position relative
  display inline-block
  font-size 13px
  color: $default-color.color
  box-shadow 0 1px 0 rgba(0,0,0,0.05)
  transition all 0.15s ease
  border-radius 2px
  border-color: $default-color.border
  background-color: $default-color.background

  &:hover,  &:focus 
    color: $default-color.color
    box-shadow inset 0 3px 3px rgba(0, 0, 0, 0.125)

  > .fa, .typcn, .glyphicon, > [class*="wi-"]
    display inline
    margin-right 4px
    font-size 14px

    &.right
      margin-right 0
      margin-left 4px

  /*# region Link Button*/
  &.btn-link 
    border none !important
    background transparent none !important
    color #08c !important
    padding 4px 12px !important
    line-height 20px !important
    text-shadow none !important
    box-shadow none !important

    &:hover 
      background none
      text-shadow none

    &.active
      background none !important
      text-decoration underline
      color #009ceb !important

      &:after
        display: none

    &.disabled, &[disabled]
      background 0
      opacity 0.65
      
      &:hover
        background none !important
        text-decoration none !important
  /*#endregion Link Button*/

  /*#region Shiny Button*/
  &.shiny
    border-radius 3px
    box-shadow 0 1px 3px 1px rgba(0,0,0,0.1)

    &:hover 
      opacity 0.9

    &.active, &:focus
      box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)

    &.dropdown-toggle
      border-left-width 0 !important
  /*#endregion Shiny Button*/

  /*#region Circle Button*/
  &.btn-circle
    border-radius 50%
    width 60px
    height 60px
    text-align center
    padding 11px 12px

    > .fa, .typcn, .glyphicon, > [class*="wi-"]
      font-size 20px
      margin 0 auto
      line-height 34px

    &.btn-xs
      width 30px
      height 30px
      text-align center
      padding 6px 0

      > .fa, .typcn, .glyphicon, > [class*="wi-"]
        font-size 12px
        line-height 14px

    &.btn-sm
      width 50px
      height 50px
      padding 10px 15px

      > .fa, .typcn, .glyphicon, > [class*="wi-"]
        font-size 18px
        line-height 26px
        border-radius 50%

    &.btn-lg
      width 70px
      height 70px
      padding 10px

      > .fa, .typcn, .glyphicon, > [class*="wi-"]
        font-size 28px
        line-height 46px
  /*#endregion Circle Button*/

  /*#region Labeled Button*/
  &.btn-labeled
    position relative
    padding-left 0

    &.btn-block 
      .btn-label 
        margin-right 0

    .btn-label
      display block
      float left
      margin -7px 12px -9px -2px
      padding 8px 10px 8px 11px
      position relative
      background rgba(0,0,0,.06)
      line-height 15px
      border-bottom-left-radius 3px
      border-top-left-radius 3px

      > .fa, .typcn, .glyphicon, > [class*="wi-"]
        margin-right 0
  /*#endregion Labeled Button*/

  /*#region Icon Button*/
  &.icon-only
    width 36px
    height 34px
    padding 5px 3px

    > .fa, .typcn, .glyphicon, > [class*="wi-"]
      margin 0
      vertical-align middle
      text-align center
      padding 0
      font-size 22px
      line-height 22px
  /*#endregion Icon Button*/

/*#region Button Sizes*/
.btn-xs
  font-size 11px
  padding 2px 7px

  > .fa, > .typcn, > .glyphicon, > [class*="wi-"]
    font-size 12px
    margin-right 2px

    &.right
      margin-right 0
      margin-left 2px

  &.icon-only 
    width 24px
    height 24px
    padding 2px 6px

    > .fa, > .typcn, > .glyphicon, > [class*="wi-"]
      font-size 12px
      line-height 7px

.btn-sm
  font-size 12px
  padding 4px 9px
  line-height 1.39

  > .fa, > .typcn, > .glyphicon, > [class*="wi-"]
    font-size 13px
    margin-right 3px

    &.right
      margin-right 0
      margin-left 3px

  &.icon-only 
    width 31px
    height 30px
    padding 3px !important

    > .fa, > .typcn, > .glyphicon, > [class*="wi-"]
      font-size 20px
      line-height 21px

.btn-lg
  line-height 1.35
  padding 9px 18px
  font-size 14px

  &.icon-only
    width 40px
    height 38px
    padding 6px !important

    > .fa, > .typcn, > .glyphicon, > [class*="wi-"]
      font-size 24px
      line-height 26px

  > .fa, > .typcn, > .glyphicon, > [class*="wi-"]
    font-size 16px
    margin-right 6px

    &.right 
      margin-right 0
      margin-left 6px
/*#endregion Button Sizes*/
  
for cor-name, cor in $colors
  .btn.colored-{cor-name}
    &, 
    &:focus
      border-color: cor.border
      background-color: cor.background
      color: cor.color

    &.shiny 
      background-image:  linear-gradient(to bottom, cor.background, cor.border 100%)

    &.dropdown-toggle:not(:first-child) 
      border-left-width 0 !important
      margin-left -1px

    &:hover, .open .colored-{cor-name}.dropdown-toggle    
      box-shadow inset 0 3px 3px rgba(0, 0, 0, 0.125)

  .open .clorored-{cor-name}.dropdown-toggle
    box-shadow inset 0 3px 3px rgba(0,0,0,0.125)

.btn.disabled.active, 
.btn[disabled].active, 
.btn.disabled:focus, 
.btn[disabled]:focus, 
.btn.disabled:active, 
.btn[disabled]:active
  outline 0


.btn.disabled:active, .btn[disabled]:active
  top 0
  left 0

.open .btn.dropdown-toggle
    box-shadow inset 0 3px 5px rgba(0,0,0,0.125)

/*#region Group Button*/
.btn-group
  > .btn
    &:not(:first-child):not(.dropdown-toggle)
      border-left: 0

    &, + .btn 
      margin 0

      &:first-child
        margin 0
        border-radius 2px

      &:last-child
        border-radius 0 2px 2px 0

    > .caret
      margin-left 1px
      border-width 5px
      border-top-color: $colors.ivory.value
      margin-top 1px

    &.btn-default > .caret
      border-top-color: $colors.slate-gray.value

    + .btn.dropdown-toggle
      padding-left 7px
      padding-right 7px

    + .btn-lg.dropdown-toggle
      padding-right 10px
      padding-left 10px

    + .btn-sm.dropdown-toggle
      padding-right 6px
      padding-left 6px

      .fa 
        line-height: 13px

    + .btn-xs.dropdown-toggle
      padding-right 5px
      padding-left 5px

      .fa 
        line-height 13px

  .dropdown-toggle
    border-radius 0 2px 2px 0

    .fa 
      display inline-block
      margin-top 1px
      font-size 14px
      line-height 14px
      margin-right 0
      margin-left 0

  > .btn, + .btn
    margin 0

    &.active:after 
      left -2px
      right -2px
      bottom -2px 
      border-bottom-width 1px

.btn-group-vertical
  > .btn 
    &:not(:last-child) 
      border-bottom 0

    &:first-child:not(:last-child) 
      border-top-right-radius 2px

    &:last-child:not(:first-child) 
      border-bottom-left-radius 2px

    &, + .btn 
      margin 0
      &:first-child 
        margin-right 0
