$default-color = $colors.gray

.badge 
  font-size 11px
  font-weight 300
  text-align center
  color: $default-color.color
  background-color: $default-color.background
  border-color: $default-color.border
  height 18px
  padding 3px 6px 3px 6px
  border-radius 12px
  text-shadow none
  vertical-align middle

  &.badge-square 
    border-radius 2px

  &.badge-empty
    display inline-block
    width 10px
    height 10px
    padding 0
    vertical-align baseline

.tag
  font-size 12px
  padding 4px 6px 4px 6px
  border-radius 2px

  &.tag-sm 
    font-size 12px
    padding 1px 4px 1px 4px

.badge, .tag
  display inline-block
  font-weight 300
  text-shadow none

  &.colored-default, 
  &.colored-default
    color: $default-color.color
    background-color: $default-color.background
    border-color: $default-color.border
    &.graded 
      background: linear-gradient(to right, $default-color.value, #80c1fb)
      
for cor-name, cor in $colors
  .badge.colored-{cor-name},
  .tag.colored-{cor-name}
    background-color: cor.background
    color: cor.color
    &.graded 
      background: linear-gradient(to right, cor.background, #80c1fb) // todo olhar esta cor.
