colors =  "theme-first" #2dc3e8,
          "theme-second" #fb6e52,
          "theme-third" #ffce55,
          "theme-fourth" #a0d468,
          "theme-fifth" #e75b8d,
          "white" #fff,
          "snow" #fbfbfb,
          "white-smoke" #f5f5f5,
          "seashell" #f3f3f3,
          "ivory" #eee,
          "platinum" #e5e5e5,
          "light-gray" #d0d0d0,
          "gray" #ccc,
          "dark-gray" #999999,
          "silver" #777,
          "sonic-silver" #737373,
          "storm-cloud" #666,
          "light-storm-cloud" #646464,
          "light-carbon" #555,
          "carbon" #444,
          "slate-gray" #333,
          "dark-carbon" #262626,
          "black2" rgba(0, 0, 0, 0.2),
          "black3" rgba(0, 0, 0, 0.3),
          "black05" rgba(0, 0, 0, 0.05),
          "black" #000,
          "blue" #5DB2FF,
          "info" #57b5e3,
          "sky" #11a9cc,
          "primary" #4374e0,
          "azure" #2dc3e8,
          "blue-berry" #6f85bf,
          "pale-green" #a0d468,
          "success" #53a93f,
          "light-green" #8cc474,
          "light-yellow" #f6d52e,
          "dark-yellow" #ffce55,
          "warning" #f4b400,
          "dark-gold" #f9b256,
          "orange" #fb6e52,
          "dark-orange" #ed4e2a,
          "light-red" #e46f61,
          "red" #df5138,
          "danger" #d73d32,
          "pink" #e75b8d,
          "dark-pink" #cc324b,
          "magenta" #bc5679,
          "purple" #7e3794,
          "maroon" #981b48

message-types =   "info"    #57b5e3 blue,
                  "success" #53a93f green,
                  "warning" #f4b400 yellow,
                  "danger"  #d73d32 red
